 *{
    margin: 0;
    padding: 0;
}
body {
    background-color: #3b3b3b;
    width: 100%;
    height: auto;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    background-color: #202020;
    padding-bottom: 20px;
    padding-top: 20px;
}
main{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.Links{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.Texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Texto__Categoria{
    font-size: 30px;
    padding: 30px;
    color: aliceblue;
}

.Categorias{
    display: flex;
    flex-direction: row;
    gap: 100px;
    /* justify-content: center;
    text-align: center; */
    padding: 10px;
}

.menu__categoria{
    width: 100%;
}

.Categorias h3{
    text-align: center;
    padding: 10px;
    color: aliceblue;
}

.Titulo1{
    font-size: 30px;
    padding: 30px;
    color: aliceblue;
}
.Parrafo1{
    font-size: 20px;
    padding: 10px;
    color: aliceblue;
}
.texto__separado{
    padding: 5%;
    display: flex;
    flex-direction: row;
    gap: 300px;
    /* text-align: center;
    justify-content: center; */
    color: aliceblue;
}

.Imagen__fondo{
    border: none;
    outline: none;
    width: 100%;
    display: block;
    max-width: 100%;
}
a{
    text-decoration: 0;
    color: aliceblue;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #313131;
}

.Primera_Parte{
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-inline: 10%;
    color: aliceblue;
}

.Primera_Parte h3{
    text-align: center;
    padding: 5px;
    color: aliceblue;
}

.Segunda_Parte{
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-inline: 10%;
    color: aliceblue;
}

.Segunda_Parte h3{
    color: aliceblue;
    text-align: center;
    padding: 5px;
} 

@media(max-width :1400px){
    .Categorias{
        display: flex;
        flex-direction: column;
    }
    .texto__separado{
        gap :150px;
    }
}

@media (max-width: 800px){
    header{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .texto__separado{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}